* {
    margin: 0;
}

div {
    min-height: 200px;
    /* min-width: 200px; */
}

.wrapper {
    padding: 2%;
}

.flex-container {
    display: flex;
    padding: 1%;
    margin-bottom: 2%;
}

.col {
    flex-direction: column;
}

.shapes {
    margin: 0 1%;
}

.solid {
    border: 7px solid black;
}

.dotted {
    border: 7px dotted black;
}

.purp-rect {
    background-color: purple;
    width: 5%;
}

.green-rect {
    background-color: green;
    width: 30%;
}

.circle {
    background-color: lightblue;
    border-radius: 100%;
    width: 15%;
}

.shadowed-box {
    background-color: papayawhip;
    box-shadow: 10px 10px 5px black;
    width: 90%;
}

.centered {
    align-items: center;
    justify-content: center;
}

.hello-cont {
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 10px grey;
    width: 50%;
}

.end {
    align-items: end;
}

.start {
    align-items: flex-start;
}

.flex-container > span {
    margin: 0 2%;
    font-weight: 600;
}